{% extends 'bootstrap/base.html' %}


{% block head %}
    {{ super() }}
    <title> {% block title %} | Flask app {% endblock %} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')}}">
{% endblock %}

{% block body %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" data-dismiss='alert' class="close">&times;</button>
            {{message}}
        </div>
    {% endfor %}


    {% block content %}
    {% endblock content %}


    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock body %}