{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{title}}
    {{ super() }}
{% endblock title %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <hr>
        {{wtf.quick_form(data_form)}}
        <hr>
    </div>
    
    <div class="container mt-5" style="margin-top: -1%;">
        <h3>¿No tienes una cuenta? ¡Crea una!</h3>
        <a href="{{url_for('signup')}}"
           class= "btn btn-link btn-m active"
           role="button" aria-pressed="True"
           >Crear cuenta</a>
    </div>
{% endblock content %}