{% extends 'base.html' %}

{% block title %}
    Sesión Iniciada
    {{super()}}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Sesión Iniciada Exitosamente</h1>
        <hr>
    </div>
    <div class="container mt-5" style="word-wrap: break-word">
        <p>Llave pública: {{ public }}</p>
        <hr>
    </div>
    <div class="container mt-5" style="word-wrap: break-word">
        <p>Llave privada: {{ private }}</p>
                <!--Boton para cerrar sesión y redirigir a Inicio de sesión -->
                <a href="{{url_for('signin')}}"
                class= "btn btn-danger"
                role="button" aria-pressed="True"
                style = "margin-top: 1%;"
                >Cerrar sesión</a>
                <!--Boton para generar nuevas llaves -->
                <a
                class= "btn btn-info"
                role="button" aria-pressed="True"
                style = "margin-top: 1%;"
                onClick="window.location.reload();"
                >Generar Llaves</a>
               
    </div>
{% endblock content %}

