{% extends 'base.html' %}

{% block title %}
    Sesión Iniciada
    {{title}}
    {{super()}}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Sesión Iniciada Exitosamente</h1>
        <hr>
        <!--Bonton para cerrar sesión y redirigir a Inicio de sesión -->
        <a href="{{url_for('signin')}}"
           class= "btn btn-primary"
           role="button" aria-pressed="True"
           >Cerrar sesión</a>
    </div>
    <div class="container mt-5" style="word-wrap: break-word">
        <p>Llave pública: {{ public }}</p>
        <hr>
    </div>
    <div class="container mt-5" style="word-wrap: break-word">
        <p>Llave privada: {{ private }}</p>
    </div>
{% endblock content %}

